h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.bg-btn {
  background-color: #1abc9c;
  color: #fff;
  padding: 0.4375rem 0.9375rem;
}
.vh-27 {
  min-height: 27vh;
}

label {
  top: 10px;
  opacity: 0;
  padding: 0 0.625rem;
  color: #1abc9c;
  transition: 0.5s;
}
.animat:hover label {
  padding: 0 0.625rem;
  opacity: 1;
  top: -0.75rem;
  color: #1abc9c;
}
input:focus {
  box-shadow: 0 0 0 0 transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input:focus label{
      padding: 0 10px;
      opacity: 1;
      top: -0.75rem;
      color: #1ABC9C;
  } */
