<section class="contact d-flex justify-content-center align-content-center">
  <div class="container">
    <div class="vh-27 d-flex align-items-end justify-content-center">
      <h2 class="text-uppercase mb-3">conatct section</h2>
    </div>
    <div class="row">
      <div class="w-50 mx-auto p-3 mt-5">
        <div class="row">
          <div class="col-12 animat my-3 position-relative">
            <label for="userName" class="label position-absolute"
              >UserName :
            </label>
            <input
              id="userName"
              type="text"
              placeholder="UserName"
              name="userName"
              class="form-control border-0 border-bottom py-3"
            />
          </div>
          <div class="col-12 animat my-3 position-relative">
            <label for="age" class="label position-absolute">Age : </label>
            <input
              id="age"
              type="number"
              placeholder="Age"
              name="age"
              class="form-control border-0 border-bottom py-3"
            />
          </div>
          <div class="col-12 animat my-3 position-relative">
            <label for="email" class="label position-absolute">Email : </label>
            <input
              id="email"
              type="email"
              placeholder="Email"
              name="email"
              class="form-control border-0 border-bottom py-3"
            />
          </div>
          <div class="col-12 animat my-3 position-relative">
            <label for="password" class="label position-absolute"
              >User password :
            </label>
            <input
              id="password"
              type="password"
              placeholder="User password"
              name="password"
              class="form-control border-0 border-bottom py-3"
            />
          </div>
          <div class="col-12 mt-3">
            <button class="bg-btn border rounded">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
