<section class="p-3">
  <div class="container">
    <h2 class="text-center  my-4">About us </h2>
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/2.jpg" class="w-100 card mb-4"   alt="" />
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          eligendi perferendis doloribus nemo voluptatem, magnam consequuntur
          aspernatur qui corporis consequatur repudiandae pariatur illo cum ex
          voluptatibus mollitia eius sed minus? Praesentium, blanditiis illum
          ipsum vel non numquam exercitationem ullam doloremque veniam veritatis
          saepe fuga, impedit dolor quidem laudantium eum! Suscipit
          exercitationem reiciendis possimus fuga velit eligendi provident fugit
          eos, id eaque laboriosam quo, sapiente vel veritatis iste distinctio
          excepturi est voluptates odit nemo? Aut architecto corporis, deserunt
          aliquid unde enim nemo? A, numquam animi obcaecati inventore nulla
          fuga. Saepe voluptatem animi consequatur distinctio dolore at
          asperiores nam quam laborum facere doloribus ipsum nesciunt explicabo
          veniam sed, sequi eos, recusandae provident, atque quas corrupti dicta
          commodi accusantium error. Tenetur officia saepe assumenda iure at
          fuga hic commodi beatae voluptates expedita, sapiente blanditiis quos?
          Quas id nobis obcaecati cum. Voluptatibus vel dignissimos ipsa nam
          deserunt corrupti culpa repellendus debitis porro vero! Mollitia.
        </p>
      </div>
    </div>
  </div>
</section>
